<!doctype html>
<html lang="en">

<head>
  <title>Edit Grading and Salary Structure </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="../../resources/CSS/select2.min.css" rel="stylesheet" media="all">
  <link href="../../resources/CSS/daterangepicker.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../resources/CSS/style.css">
  <link rel="stylesheet" href="../../resources/CSS/stylesheet.css">
</head>

<body>

  <div class="sidebarContainer wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a hef="#" class="img logo rounded-circle mb-5" style="background-image: url(../../logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#EmpStructSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Structure</a>
            <ul class="collapse list-unstyled" id="EmpStructSubMenu">
              <li>
                <a href="../EmpStructureViews/createEmpStruct.html">Create Employee Structure</a>
            </li>
            <li>
                <a href="../EmpStructureViews/editEmpStruct.html">Edit Employee Structure</a>
            </li>
            <li>
                <a href="../EmpStructureViews/assignPayTypeToEmpStruct.html">Assign Paytype to Employee Structure</a>
            </li>
            </ul>
          </li>
          

          
          <li>
            <a href="#compStructSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Company Structure</a>
            <ul class="collapse list-unstyled" id="compStructSubmenu">
              <li>
                <a href="../CompanyStructViews/createCompanyStruct.html">Create Company Structure</a>
            </li>
            <li>
                <a href="../CompanyStructViews/editCompanyStruct.html">Edit Company Structure</a>
            </li>
            <li>
                <a href="../CompanyStructViews/assignPayTypeToCompanyStruct.html">Assign Paytype to Company Structure</a>
            </li>
            </ul>
          </li>
        
           <li>
             <a href="#payTypeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pay Types</a>
             <ul class="collapse list-unstyled" id="payTypeSubmenu">
               <li>
                   <a href="../PayTypes/createPayType.html">Create Pay Types</a>
               </li>
               <li>
                   <a href="../PayTypes/editPayType.html">Edit Pay Types</a>
               </li>
          
             </ul>
            </li>
            <li>
              <a href="#payrollStructureSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Payroll Structure</a>
              <ul class="collapse list-unstyled" id="payrollStructureSubmenu">
                <li>
                    <a href="../PayrollStructure/createPayrollStructure.html">Create Payroll Structure</a>
                </li>
                <li>
                    <a href="../PayrollStructure/editPayrollStructure.html">Edit Payroll Structure</a>
                </li>
           
              </ul>
             </li>

             <li>
              <a href="#gradingStructureSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Grading and Salary Structure</a>
              <ul class="collapse list-unstyled" id="gradingStructureSubmenu">
                <li>
                    <a href="../GradingAndSalaryViews/createGradingStructure.html">Create Grading and Salary Structure</a>
                </li>
                <li>
                    <a href="../GradingAndSalaryViews/editGradingStructure.html">Edit Grading and Salary Structure</a>
                </li>
           
              </ul>
             </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | Cloud Consulting Services
            <i class="icon-heart" aria-hidden="true"></i> <a
              href="https://www.linkedin.com/company/cloud-consulting-services-inc-" target="_blank">Linkedin</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <div id="content" class=" p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">

        <div class="wrapper wrapper--w800">
          <div class="card card-4 ">
            <div class="card-body">
              <h2 class="title">Edit Grading and Salary Structure</h2>

              <div class="row row-space paddingtop">


                <div class="col-4">
                  <div class="input-group">
                    <label class="label"> Grade <h class="rq" id="gradeisEmpty" hidden>* Required Field </h></label>

                    <input class="input--style-4" maxlength="6" type="text" id="grading_grade" name="grading_grade" disabled>

                  </div>
                </div>
                <div class="col-8">
                  <div class="input-group">

                    <label class="label">Level<h class="rq" id="levelisEmpty" hidden>* Required Field </h></label>
                    <input style="background:#0000;" class="input--style-4" maxlength="20" type="text" id="grading_level" name="grading_level">
                  </div>
                </div>
              </div>

              <div class="row row-space paddingtop">

                <div class="col-5">
                  <div class="input-group">
                    <label class="label">Start Date<h class="rq" id="startDateisEmpty" hidden>* Required Field </h>
                      </label>
                    <div class="input-group-icon">
                      <input style="background:#0000;" readonly='true' class="input--style-4 js-datepicker" id="start_date" type="text"
                        name="start_date">
                      <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                  </div>
                </div>


                <div class="col-5">
                  <div class="input-group">
                    <label class="label">End Date <h class="rq" id="endDateisEmpty" hidden>* Required Field </h></label>
                    <div class="input-group-icon">
                      <input style="background:#0000;" readonly='true' class="input--style-4 js-datepicker" id="end_date" type="text"
                        name="birthday">
                      <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row row-space paddingtop">

                <div class="col-4">
                    <div class="input-group">
  
                      <label class="label">Min<h class="rq" id="minisEmpty" hidden>* Required Field </h></label>
                      <input style="background:#0000;" class="input--style-4" maxlength="20" type="text" id="grading_min" name="grading_min">
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="input-group">
  
                      <label class="label">Mid<h class="rq" id="midisEmpty" hidden>* Required Field </h></label>
                      <input style="background:#0000;" class="input--style-4" maxlength="20" type="text" id="grading_mid" name="grading_mid">
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="input-group">
  
                      <label class="label">Max<h class="rq" id="maxisEmpty" hidden>* Required Field </h></label>
                      <input style="background:#0000;" class="input--style-4" maxlength="20" type="text" id="grading_max" name="grading_max">
                    </div>
                  </div>

              </div>

              <div class="row row-space paddingtop">

                <div class="col-5">
                  <div class="dropdown">
                    <label class="label">Basic Salary 
                        <h class="rq" id="basicSalaryisEmpty" hidden>* Required Field </h>
                      </label>
                      <select class="custom-select" style="height: 50px;" id="basicSalary">

                     </select>
                   

                  </div>
                </div>
              </div>


              <div class="row row-space paddingtop">

                <div style="position: relative;left: 70%;">

                  <button type="submit" id="buttonSubmit" class="btn  submitbtn btn-primary">Edit</button>

                </div>
              </div>

            </div>

          </div>
        </div>



        <div class="modal fade" id="ResultOfGradingStructureCreation" tabindex="-1" role="dialog">
          <div class="modal-dialog" style=" padding-top: 170px" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Grading And Salary Structure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="height: 67px;">
                <div id="success_msg" hidden>
                  The Grading And Salary Structure is Edited successfully.
                </div>
                <div id="fail_msg" hidden>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="modalOkButton" class="btn btn-secondary"
                  onClick="javascript:BackToCreateStructureClean();" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>






  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="../../resources/JS/popper.js"></script>
  <script src="../../resources/JS/bootstrap.min.js"></script>
  <script src="../../resources/JS/main.js"></script>


  <script src="../../resources/JS/select2.min.js"></script>
  <script src="../../resources/JS/moment.min.js"></script>
  <script src="../../resources/JS/daterangepicker.js"></script>
  <script src="../../resources/JS/GradingStructureJS/editGradingStructureData.js"></script>

</body>

</html>