<!doctype html>
<html lang="en">
  <head>
  	<title>Assign Paytype to Company Structure</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/CSS/style.css">
    <link rel="stylesheet" href="../../resources/CSS/stylesheet.css">
  </head>

  <body>
		
    <div class="sidebarContainer wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
              <a hef="#" class="img logo rounded-circle mb-5" style="background-image: url(../../logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#EmpStructSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Structure</a>
            <ul class="collapse list-unstyled" id="EmpStructSubMenu">
                <li>
                    <a href="createEmpStruct.html">Create Employee Structure</a>
                </li>
                <li>
                    <a href="editEmpStruct.html">Edit Employee Structure</a>
                </li>
                <li>
                    <a href="assignPayTypeToEmpStruct.html">Assign Paytype to Employee Structure</a>
                </li>
            </ul>
          </li>
       
          <li>
          <a href="#compStructSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Company Structure</a>
          <ul class="collapse list-unstyled" id="compStructSubmenu">
            <li>
              <a href="../CompanyStructViews/createCompanyStruct.html">Create Company Structure</a>
          </li>
          <li>
              <a href="../CompanyStructViews/editCompanyStruct.html">Edit Company Structure</a>
          </li>
          <li>
              <a href="../CompanyStructViews/assignPayTypeToCompanyStruct.html">Assign Paytype to Company Structure</a>
          </li>
          </ul>
          </li>
      
         <li>
           <a href="#payTypeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pay Types</a>
           <ul class="collapse list-unstyled" id="payTypeSubmenu">
             <li>
                 <a href="../PayTypes/createPayType.html">Create Pay Types</a>
             </li>
             <li>
                 <a href="../PayTypes/editPayType.html">Edit Pay Types</a>
             </li>
        
           </ul>
          </li>

          <li>
            <a href="#payrollStructureSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Payroll Structure</a>
            <ul class="collapse list-unstyled" id="payrollStructureSubmenu">
              <li>
                  <a href="../PayrollStructure/createPayrollStructure.html">Create Payroll Structure</a>
              </li>
              <li>
                  <a href="../PayrollStructure/editPayrollStructure.html">Edit Payroll Structure</a>
              </li>
         
            </ul>
           </li>
           <li>
            <a href="#gradingStructureSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Grading and Salary Structure</a>
            <ul class="collapse list-unstyled" id="gradingStructureSubmenu">
              <li>
                  <a href="../GradingAndSalaryViews/createGradingStructure.html">Create Grading and Salary Structure</a>
              </li>
              <li>
                  <a href="../GradingAndSalaryViews/editGradingStructure.html">Edit Grading and Salary Structure</a>
              </li>
         
            </ul>
           </li>
        </ul>

        <div class="footer">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Cloud Consulting Services <i class="icon-heart" aria-hidden="true"></i> <a href="https://www.linkedin.com/company/cloud-consulting-services-inc-" target="_blank">Linkedin</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
  <div id="content" class=" p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w800">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Assign Paytype to Company Structure</h2>
                   
                      <div class="row row-space paddingtop">
                        <div class="col-8">
                            <div class="input-group">
                                <label class="label">Code</label>
                                <input class="input--style-4" required  maxlength="6" type="text" id="Companystruct_code" name="Companystruct_code">
                            </div>
                        </div>
                        <div class="col-4" style=" padding-top: 30px;">
                           <button  type="submit" id="buttonSubmit" class="btn  submitbtn btn-primary" >Send</button>
                        </div>
                    </div>

                 
                    <div class="row row-space">
                      <button type="button" class="btn btn-primary" data-toggle="modal" style="position:absolute; left:65px;" data-target="#exampleModalCenter">
                        Show All </button>
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Company Structure Payroll</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="table-responsive shadow-lg " style="
                              overflow-x: auto; overflow-y: auto; max-height: 300px;
                              background-color:white;width:100%;">
                                <label style="position:relative;left:20px;">Search for codes: 
                                </label>
                                <input class="input--style-4" type="text" id="myInput" onkeyup="myFunction()" style="position:relative;left:10%; width:50%;">
        
                                <table class="table table-hover table-bordered" id="CompanyStructTable" style="text-align: center;"
                                  hidden>
                                  <thead style="background-color:#f8b739;">
                                    <tr>
                                      <th>Code</th>
                                      <th>Name</th>
                                      <th>Type</th>
                                    </tr>
                                  </thead>
           
                                  
                                </table>
                                <div>
                                  <div id="tableIsEmptyMSG" class="warning" hidden>
                                    <div class="alert alert-warning">
                                      <strong>Warning!</strong>There is no Company structure created yet!
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" id="chooseCompanyStruct">Choose</button>
                            </div>
                          </div>
                        </div>
                      </div>
                     
      
                    </div>
                
                  </div>
              </div>
          </div>        
      </div>

  </div>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="../../resources/JS/popper.js"></script>
    <script src="../../resources/JS/bootstrap.min.js"></script>
    <script src="../../resources/JS/main.js"></script>

    <script src="../../resources/JS/select2.min.js"></script>
    <script src="../../resources/JS/moment.min.js"></script>
    <script src="../../resources/JS/daterangepicker.js"></script>

<script src="../../resources/JS/CompanyStructJS/assignPayTypeToCompanyStruct.js"></script>
</body>